*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

img { max-width: 100%; height: auto }

body{
    min-height: 100%;
    color: #fff;
}
  
h1{
    color: #fff;
    margin: 2rem auto;
}
  
.hidden{
    opacity: 0;
    transition: all 1s;
}
  
.show{
    opacity: 1;
}

.navbar{
    background:#131313;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1.3rem;
    justify-content: center;
    font-size: 1.3rem;
    position: sticky;
    top: -0.08rem;
    z-index: 999;
}

#navbar__logo{
    background-color: #ddc019;
    background-image: linear-gradient(to top, #7a5c0a 0%, #ddc019 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    margin-top: 0.2rem;
    margin-left: -3rem;
    padding-right: 7vw;
    z-index: 1;
}

.navbar__pages, .active__page{
    color: #fff;
    justify-content: left;
    align-items: left;
    text-decoration: none;
    margin-top: 0.7rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.active__page{
    color: #AF9E4D;
}

.page_background_img{
    width: 99vw;
    height: 76vw;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    z-index: -2;
    display: flex;
    overflow: hidden;
    position: absolute;
}

.page_foreground_img{
    justify-self: center;
    align-self: center;
    justify-content: center;
    margin: 1rem auto;
    width: 63rem;
    text-align: center;
    border: 0.5rem solid #343434a2;
    display: block;
    overflow: hidden;
}

.middle_divider_group{
    background: #505050;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    border-bottom: 1rem outset #13131331;
    border-top: 1rem outset #13131331;
}

.rounded_link_button{
    background: #dd1811;
    text-align: left;
    text-decoration: none;
    color: #fff;
    display: block;
    margin: 1rem 2rem;
    padding: 1rem;
    overflow: hidden;
    border-radius: 5px;
    display: inline block;
    border: 0.2rem solid #13131331;
}

.rounded_link_button_inner{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.rounded_link_button_icon{
    font-size: 32px;
}

.rounded_link_button_content{
    flex-grow: 1;
    justify-content: stretch;
    align-items: stretch;
}

.rounded_link_button_subhead{
    text-transform: uppercase;
    font-size: 1.0rem;
    display: block;
    letter-spacing: 1.5px;
}

.rounded_link_button_head{
    font-size: 1.3rem;
    display: block;
    font-weight: 700;
}

.information_showcase{
    text-align: left;
    color: #fff;
    display: flex;
    margin: 5rem auto;
    justify-content: center;
    overflow: hidden;
}

.information_showcase_inner{
    display: flex;
}

.information_showcase_content{
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top:  4rem;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 1);
}

.information_showcase_head{
    justify-content: left;
    font-size: 3rem;
    margin: 0 auto;
    display: block;
}

.information_showcase_info{
    font-size: 2rem;
    margin: 1rem auto;
    display: block;
}

.information_showcase_img_container{
    width: 48rem;
    height: 25rem;
    margin-left: 2rem;
    margin-right: -10rem;
    justify-content: center;
    overflow: hidden;
}

.information_showcase_img{
    margin: auto;
    max-width: 35rem;
    max-height: 25rem;
    border-bottom: 0.5rem solid #ddc019;
    border-right: 0.5rem solid #b49c13;
    border-left: 0.5rem solid #131313;
    border-top: 0.5rem solid #131313;
    border-style: ridge;
    object-fit: scale-down;
    overflow: hidden;
}

.team_showcase{
    margin: 2rem;
}

.team_showcase_inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team_showcase_inner_box{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    border-bottom: 0.5rem solid #505050;
    border-right: 0.5rem solid #505050;
    border-left: 0.5rem solid #505050;
    border-top: 0.5rem solid #505050;
    border-style: inset;
}

.team_showcase_inner_box_image{
    max-width: 45rem;
    max-height: 35rem;
    border-bottom: 0.5rem solid #ddc019;
    border-right: 0.5rem solid #b49c13;
    border-left: 0.5rem solid #131313;
    border-top: 0.5rem solid #131313;
    border-style: ridge;
    object-fit: scale-down;
    overflow: hidden;
}

.team_showcase_inner_box_subhead{
    color: #fff;
    font-size: 48px;
    margin: 0.5rem 1rem 0.5rem 1rem;
}

.team_showcase_inner_box_content{
    color: #fff;
    font-size: 32px;
    margin: 0.5rem 1rem 0.5rem 1rem;
}

footer{
    background:#131313;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1.3rem;
    justify-content: left;
    font-size: 1.3rem;
    bottom: 0;
    z-index: 999;
}

.footer_logo{
    margin-left: 5vw;
    margin-right: 2vw;
    justify-content: left;
    display: block;
    width: 5rem;
}

.footer_info{
    margin-top: 2rem;
    text-align: left;
    text-decoration: none;
    font-size: 0.5rem;
}

@media screen and (max-width: 1023px) {
    .navbar{
        margin-top: -0.1rem;
    }
    #navbar__logo{
        padding-right: 0;
        margin-left: 0;
    }
    .page_background_img{
        height: 76vw;
    }
    .page_foreground_img{
        width: 99vw;
    }
    .middle_divider_group{
        border-bottom: 0.8rem outset #13131331;
        border-top: 0.8rem outset #13131331;
    }
    .rounded_link_button{
        margin: 0.8rem 1rem;
        padding: 0.8rem;
    }
    .rounded_link_button_icon{
        font-size: 24px;
    }

    .rounded_link_button_subhead{
        font-size: 0.4rem;
    }
    .rounded_link_button_head{
        font-size: 1.04rem;
    }
    .information_showcase{
        margin: 4rem auto;
    }
    .information_showcase_content{
        margin-right: 1.2rem;
        margin-left: 1.2rem;
        margin-top: 2.8rem;
    }
    .information_showcase_head{
        font-size: 2.0rem;
    }
    .information_showcase_info{
        font-size: 1.2rem;
        margin: 0.4rem auto;
    }
    .information_showcase_img_container{
        width: 21rem;
        height: 15rem;
        margin-left: 1.6rem;
        margin-right: 1.6rem;
    }
    .information_showcase_img{
        margin: auto;
        max-width: 21rem;
        max-height: 15rem;
        border-bottom: 0.2rem solid #ddc019;
        border-right: 0.2rem solid #b49c13;
        border-left: 0.2rem solid #131313;
        border-top: 0.2rem solid #131313;
        border-style: ridge;
    }
}

/* TODO: Work on making mobile compatible! */

@media screen and (max-width: 745px) {
    .navbar{
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .navbar__pages{
        opacity: 100;
        display: none;
    }
    .active__page{
        opacity: 100;
        display: none;
    }
    #navbar__logo{
        margin: auto auto;
    }
    .middle_divider_group{
        border-bottom: 0.8rem outset #13131331;
        border-top: 0.8rem outset #13131331;
    }
    .rounded_link_button{
        margin: 0.4rem 0.5rem;
        padding: 0.4rem;
    }
    .rounded_link_button_icon{
        font-size: 16px
    }

    .rounded_link_button_subhead{
        font-size: 0.2rem;
    }
    .rounded_link_button_head{
        font-size: 0.52rem;
    }
    .information_showcase{
        margin: 2rem auto;
    }
    .information_showcase_content{
        margin-right: 0.6rem;
        margin-left: 0.6rem;
        margin-top: 1.4rem;
    }
    .information_showcase_head{
        font-size: 1.0rem;
    }
    .information_showcase_info{
        font-size: 0.6rem;
        margin: 0.2rem auto;
    }
    .information_showcase_img_container{
        width: 10.5rem;
        height: 7.5rem;
        margin-left: 0.8rem;
        margin-right: 0.8rem;
    }
    .information_showcase_img{
        margin: auto;
        max-width: 10.5rem;
        max-height: 7.5rem;
        border-bottom: 0.2rem solid #ddc019;
        border-right: 0.2rem solid #b49c13;
        border-left: 0.2rem solid #131313;
        border-top: 0.2rem solid #131313;
        border-style: ridge;
    }
    footer{
        padding-top: 0.5rem;
        padding-bottom: 0.65rem;
        font-size: 0.65rem;
    }
    
    .footer_logo{
        margin-left: 2.5vw;
        margin-right: 1vw;
        width: 2.5rem;
    }
    
    .footer_info{
        margin-top: 1rem;
        font-size: 0.25rem;
    }
    
    .team_showcase_inner_box_image{
        max-width: 25rem;
        max-height: 15rem;
    }
    
    .team_showcase_inner_box_subhead{
        color: #fff;
        font-size: 28px;
        margin: 0.5rem 1rem 0.5rem 1rem;
    }
    
    .team_showcase_inner_box_content{
        color: #fff;
        font-size: 16px;
        margin: 0.5rem 1rem 0.5rem 1rem;
    }
}

@media screen and (min-width: 1130px) {
    .page_background_img{
        height: 76vh;
    }
}

@media screen and (min-width: 1600px) {
    .page_background_img{
        height: 50rem;
    }
}